*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    /* margin: 0 15em; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




/* Hero Colors and Text Styling */
.primary-color{
    background-color: #1F2937;
}

.header-text{
    font-size: 24px;
    color: #f9faf8;
}

.primary-text{
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf9
}

.secondary-text,a{
    font-size: 18px;
    color: #e5e7eb;
}

.button-color{
    background-color: #3882f6;
    
}

.p{
    padding: 0 15em;
}
.top-space{
    margin-top: 10em;
}
/* Hero styling */
.hero-section{
    height: 75vh;
 
}
nav{
    padding:  1.5em 0;
    display: flex;
    justify-content: space-between;
    
}

ul {
    list-style-type: none;
    display: flex;
    gap: 2em;
}

a{
    text-decoration: none;
  
}
.hero-text{
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 2em;

}

button{
    
    font-weight: bold;
    color:#e5e7eb;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 0.5em 1.5em;
}
.hero-image{
    object-fit: cover;
    width: 40em;
    height: 20em;
    border-radius: 15px;
}

section{
    display: flex;
    justify-content: space-between;
    
}

/* Items */
.info-header{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}
section.p{
    flex-direction: column;
 justify-content: center;
    align-items: center;  
    height: 75vh;
    gap: 5em;
}

.item-container{
    height: 300px;
    width: 300px;
    border:  3px  solid #3882f6 ;
    border-radius: 15px;
}

.items{
    display: flex;
    gap: 5em;
    text-align: center;
  
}

.item-card{
    display: flex;
    flex-direction: column;
    gap: 1em;
}