*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    /* margin: 0 15em; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




/* Hero Colors and Text Styling */
.primary-color{
    background-color: #1F2937;
}

.header-text{
    font-size: 24px;
    color: #f9faf8;
}

.primary-text{
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf9
}

.secondary-text,a{
    font-size: 18px;
    color: #e5e7eb;
}

.button-color{
    background-color: #3882f6;
    
}

.p{
    padding: 0 20em;
}
.top-space{
    margin-top: 8em;
}
/* Hero styling */
.hero-section{
    height: 75vh;
 
}
nav{
    padding:  1.5em 0;
    display: flex;
    justify-content: space-between;
    
}

ul {
    list-style-type: none;
    display: flex;
    gap: 2em;
}

a{
    text-decoration: none;

  
}
.hero-text{
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 2em;

}

button{
    border: none;
    outline: none;
    font-weight: bold;
    color:#e5e7eb;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 0.5em 1.5em;
}
.hero-image{
    object-fit: cover;
    width: 40em;
    height: 20em;
    border-radius: 15px;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Items */
.info-header{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}
section.p{
    flex-direction: column;
 justify-content: center;
    align-items: center;  
    height: 70vh;
    gap: 5em;
}

.item-container{
    height: 250px;
    width: 250px;
    border:  3px  solid #3882f6 ;
    border-radius: 15px;
    background-size: 35em;
    background-repeat: no-repeat;
}

.item-container.one{
    background-image: url('../images/sec2-1.jpg');
    background-position: center;
}

.item-container.two{
    background-image: url('../images/sec2-2.jpg');
    background-position: center;
}

.item-container.three{
    background-image: url('../images/sec2-3.jpg');
    background-position: center;
}

.item-container.four{
    background-image: url('../images/sec2-4.jpg');
    background-position: center;
}
.item-desc{
    width: 250px;
    color: black;
}

.items{
    display: flex;
    gap: 5em;
    text-align: center;
  
}

.item-card{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* quote */

section.gray.p{
    background-color: #e5e7eb;
    padding: 0 22em;
    gap: 2em;
    height: 40vh;
}

.quote-text{
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    font-style: italic;
    text-align: justify;
}

section.gray p.info-header{
    align-self: center;
}

/* CTA sec */
section.cta{
    height: 50vh;
}
.cta-sec{
    display: flex;
    height: 10em;
    width: 75em;
    color: white;
    background-color: #3882f6;
    justify-content: space-around;
    align-items: center;
    border-radius: 1em;
}

.cta-sec > .cta > .button-color{
  border: 2px solid #e5e7eb;
}

.b{
    font-weight: bold;
    font-size: 1.5em;
}

/* footer */

footer{
    background-color: #1F2937;
    height: 3em;
    padding: 1em;
    text-align: center;
}